body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
.d-flex {
    display: flex;
}
.jc-sb {
    justify-content: space-between;
}
.ai-center {
    align-items: center;
}
.icon20 {
    width: 20px;
}
.icon64 {
    width: 64px;
}
.spaceheader {
    padding: 30px 0;
}
.spacecontent {
    padding: 5% 0;
}
.spacer {
    margin: 10px;
}
.img-responsive {
    width: 100%;
}
.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.topheader {
    background: rgb(82, 82, 184);
    color: white;
    padding: 10px 0;
    a{
        color: bisque;
    }
    select{
        border: none;
        border-radius: 5px;
    }
}

.hero {
    background: rgb(19, 19, 75);
}

.header {
    .logo{
        a{
            color: white;
            text-decoration: none;
        }
    }
    .menu{
        a{
            text-decoration: none;
            color: white;
            padding: 20px;
        }
    }
    .shop{
        a{
            padding: 10px;
        }
    }
}

.hc {
    &-desc {
        width: 50%;
        color: white;
        h1{
            font-size: 3em;
            line-height: 120%;
            letter-spacing: -2px;
            
        }
        p{
            color: rgb(200, 200, 200);
        }
    }
    &-image {
        height: 700px;
        width: 40%;
        border-radius: 50px;
        overflow: hidden;
    }
}

.service {
    &-item{
        width: 23%;
        h3{
            margin: 10px 0;
            color: rgb(19, 19, 75);
        }
        p{
            font-size: 14px;
            color: rgb(67, 67, 67);
        }
    }
}

.store {
    background: rgb(11, 19, 57);
    &-item{
        width: 23%;
        h3{
            color: goldenrod;
            font-weight: 500;
        }
        p{
            font-size: 13px;
            color: rgb(184, 184, 184);
        }
        .price{
            margin-top: 8px;
            color: beige;
            h4{
                font-weight: 500;
            }
        }
    }
}

.copyright {
    .container{
        p{
            text-align: center;
            font-style: bold;
            font-size: 20px;
        }
    }
}
.btn {
    background: white;
    color: rgb(19, 19, 75);
    padding: 15px 30px;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    &-blue {
        background: rgb(92, 92, 193);
        color: white;
    }
}